html,
body {
    margin: 0;
    padding: 0;
}


.optionMenu {
    position: absolute;
    top: 70px;
    left: 5px;
    z-index: 2;
    height: 80px;
    width: 80px;
    color: var(--clr);
    display: grid;
    gap: 10px;
    z-index: 2;
    
}
.optionMenu button {
    background-color: transparent;
    border: 10px;
    padding: 0;
    z-index: 2;
}
.optionMenu button hover {
    background-color: lightblue;
    border: none;
    padding: 0;
}

.optionMenu ion-icon {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    color: var(--clr);
    background-color: grey;
}



#additionalButtons {
    display: none;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
    position: absolute;
    top: 140px;
    left: 5px;
    z-index: 2;
    border-color: black;
    border-radius: 50%;
}

#additionalButtons button:hover {
    background-color: grey;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.4);

}


.stroke-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0px;
    position: absolute;
    bottom: 2%;
    z-index: 2;

}

.stroke-container button {
    background-color: grey;
    color: white;
    padding: 10px 40px;
    border: black;
    border-radius: 200px;
    cursor: pointer;
}

.slider-container {
    background: grey;
    color: black;
    padding: 10px 20px;
    border: black;
    border-radius: 20px;
    cursor: pointer;
    z-index: 2;
    
}
.slider-container {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: 10px;
    position: absolute;
    top: 83%;
    right: 80%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.grid-item label{
    margin-bottom: 10px;
}

/* CODE BELOW IS ALL TO DO WITH THE PENTIP SELECTION MENU*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*/

.pen-tip {
    width: 475px;
    height: 70px;
    background: grey;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 85%;
    left: 25%;
    z-index: 2;
}

.pen-tip ul {
    display: flex;
    width: 400px;
}

.pen-tip ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.pen-tip ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 1000;
    font-size: x-large;
    color: black;
}

.pen-tip ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.pen-tip ul li.active a .icon {
    transform: translateY(-32px);
}

.pen-tip ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.pen-tip ul li.active a .text {
    transform: translateY(10px);
    opacity: 1;
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.pen-tip ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(-5px));
}

.pen-tip ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(55px * 1));
}

.pen-tip ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(57.5px * 2));
}

.pen-tip ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(58.5px * 3));
}

.pen-tip ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(58px * 4));
}

.pen-tip ul li:nth-child(6).active~.indicator {
    transform: translateX(calc(58.75px * 5));
}