html,
body {
    margin: 0;
    padding: 0;
}


#mainButton {
    background-color: gray;
    position: absolute;
    top:7%;
    left: 5px;
    border-color: black;
    z-index: 2;
}

#additionalButtons {
    display: none;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
    position: absolute;
    top: 11%;
    left: 5px;
    z-index: 2;
    border-color: black;
    border-radius: 50%;
}

#additionalButtons button:hover {
    background-color: grey;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.4);

}


.stroke-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0px;
    position: absolute;
    bottom: 2%;
    z-index: 2;

}

.stroke-container button {
    background-color: grey;
    color: white;
    padding: 10px 40px;
    border: black;
    border-radius: 200px;
    cursor: pointer;
}

.slider-container {
    background-color: lightgrey;
    color: black;
    padding: 10px 40px;
    border: black;
    border-radius: 20px;
    cursor: pointer;
    z-index: 2;
}

.slider-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    position: absolute;
    top: 7%;
    left: 80px;
}

/* CODE BELOW IS ALL TO DO WITH THE PENTIP SELECTION MENU*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*/
.pen-tip {
    width: 450px;
    height: 70px;
    background: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 80%;
    left: 25%;
    z-index: 2;
}

.pen-tip ul {
    display: flex;
    width: 450px;
}

.pen-tip ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.pen-tip ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.pen-tip ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.pen-tip ul li.active a .icon {
    transform: translateY(-32px);
}

.pen-tip ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.pen-tip ul li.active a .text {
    transform: translateY(10px);
    opacity: 1;
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #3b3b3b;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.pen-tip ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(60px * 0));
}

.pen-tip ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(60px * 1));
}

.pen-tip ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(60px * 2));
}

.pen-tip ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(60px * 3));
}

.pen-tip ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(60px * 4));
}

.pen-tip ul li:nth-child(6).active~.indicator {
    transform: translateX(calc(60px * 5));
}